.container {
    margin: 0px;
    padding: 0px;
    border-bottom: 30px solid black;
    position: relative;
    height: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.man {
    width: 100px;
}

.foot {
    width: 30px;
}

.fruit {
    width: 30px;
}

.green {
    width: 300px;
    
}

.tree {
    position: absolute;
      bottom: 8px;
      right: 16px

}

.human {
    position: absolute;
    bottom: 8px;
    left: 16px;
   
}
  
.mango {
    position: absolute;
    right: 200px;
    top: 450px;
    animation-name: fall;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 3s;
    animation-timing-function: linear;
    }

    @keyframes fall {
        from {
            top: 450px;
            right: 200px;

        }
        to {
            top: 540px;
            right: 200px; 

        }
    }

.ball {
    position: absolute;
    bottom: 0px;
    left: 80px;
    animation-name: load;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
        right: 0px;
        bottom: 0px;
    }
  
    
    50% {
        transform: rotate(60deg);
        right: 0px;
        bottom: 0px;
    }
    

    100% {
        transform: rotate(180deg); 
        right: 200px;
        bottom: 0px;
    }
}
