.container {
    margin: 0px;
    padding: 0px;
    border-bottom: 30px solid black;
    position: relative;
    height: 600px;
}

.man {
    width: 100px;
}

.foot {
    width: 30px;
}

.fruit {
    width: 30px;
}

.green {
    width: 300px;
    
}

.tree {
    position: absolute;
      bottom: 8px;
      right: 16px

}

.human {
    position: absolute;
    bottom: 8px;
    left: 16px;
   
}
  
.mango {
    position: absolute;
    right: 200px;
    top: 450px;
}

.ball {
    position: absolute;
    bottom: 0px;
    left: 80px;
    animation-name: load;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;

}

@keyframes load {
    0% {
        transform: rotate(0deg);
        right: 0px;
        bottom: 0px;
    }
    50% {
        transform: rotate(180deg);
        right: 50px;
        bottom: 100px;
    }
    75% {
        transform: rotate(270deg);
        right: 100px;
        bottom: 150px;
    }
    100% {
        transform: rotate(0deg); 
        right: 120px;
        bottom: 0px;
    }
}