.container {
    margin: 0px;
    padding: 0px;
    border-bottom: 30px solid black;
    position: relative;
    height: 600px;
}

.man {
    width: 100px;
}

.foot {
    width: 30px;
}

.fruit {
    width: 30px;
}

.green {
    width: 300px;
    
}

.tree {
    position: absolute;
      bottom: 8px;
      right: 16px

}

.human {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
  
.mango {
    position: absolute;
     right: 200px;
    top: 450px;
}